@import "fonts";
@import "normalize";

body {
  max-width: 428px;
  margin: 0 auto;
  padding: 40px 20px 24px;
  font-family: 'Roboto', 'Oxygen', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #030303;
}
