@import '../../../styles/base';

.plan_list {
  &_title {
    font-weight: $font-weight-700;
    font-size: $font-size-26;
    line-height: $line-height-22;
    letter-spacing: -0.71px;
    margin-bottom: 16px;
  }
}